#Yellowcoachescouk-admin .nav-link {
    color: black !important;
}

#Yellowcoachescouk-admin .yellowcoachescouk-dropbtn {
    width: 20%;
}

#Yellowcoachescouk-quote-dropdown-options-admin.yellowcoachescouk-dropdown-content {
    width: 20% !important;
}