#Yellowcoachescouk-admin .nav-link {
    color: black !important;
}

#Yellowcoachescouk-admin .yellowcoachescouk-dropbtn {
    width: 20%;
}

#Yellowcoachescouk-admin-dropdown-location-options.yellowcoachescouk-dropdown-content,
#Yellowcoachescouk-admin-dropdown-location-wcproduct.yellowcoachescouk-dropdown-content {
    width: 20% !important;
}

